*
!.bashrc
!.vimrc

!.config/

!.config/ncspot/
!.config/ncspot/**
.config/ncspot/userstate.cbor

!.config/ranger/
!.config/ranger/**

!.config/regolith3/
!.config/regolith3/**

!.vim/
!.vim/**
.vim/.netrwhist

