[user]
    name = ptixed
    email = ptixed@users.noreply.github.com
[core]
    autocrlf = input
[credential]
    helper = store
[pull]
    rebase = true
[init]
    defaultBranch = master
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[diff]
    external = difft
[advice]
    statusHints = false
[alias]
    force = push --force-wit-lease --force-if-includes
