*

!.gitconfig
!.gitignore
!.vimrc

!.config/

!.config/btop/
!.config/btop/**
.config/btop/btop.log

!.config/fish/
!.config/fish/**
.config/fish/fish_variables

!.config/kitty/
!.config/kitty/**

!.config/mpv/
!.config/mpv/**

!.config/ncspot/
!.config/ncspot/**
.config/ncspot/userstate.cbor

!.config/ranger/
!.config/ranger/**

!.config/regolith3/
!.config/regolith3/**

!.vim/
!.vim/**
.vim/.netrwhist
.vim/viminfo

!Documents
!Documents/linux-fixes/
!Documents/linux-fixes/**
