# use 'kitty +kitten show_key' to inspect keycodes

set echo-control-characters off
set show-all-if-ambiguous on
set bell-style visible

"\e[A": history-search-backward
"\e[B": history-search-forward

"\x08": backward-kill-word
TAB: menu-complete
